<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
        <arg name="port" value="9090"/>
    </include>

    <include file="$(find roswww)/launch/roswww.launch">
        <arg name="port" value="8085"/>
        <arg name="cached" value="false"/>
    </include>

    <node pkg="tr_control" type="tr_control" name="tr_control" />

</launch>
